* {
  font-family: 'Times New Roman', Times, serif;
  .item-manage {
    font-size: 24px;
    padding: 8px;
    font-weight: 100;
  }
  .item-manage:hover {
    background-color: #ccc;
    border-radius: 10px;
  }
}
